/*ESTILO FONTS y COLORS: He descargado el código de la fuente de Google Fonts para el HTML y en CSS lo he elegido como fuente predeterminada.
Font: Monserrat. Colores: gris oscuro #333; blanco #fff. 
Paleta de colores para background-color: gris oscuro #333; gris claro #e8e6e1; verde #add1c5; rosa #ebcbc6.

Dispositivos móviles: me queda pendiente aplicar media queries para hacer responsive la web y que se vea bien en dispositivo móvil.
Cambiar las medidas (px, em) y css para pantallas pequeñas y grandes:
@media screen and (max-width: 768px) { 
pantallas pequeñas 
}
@media screen and (min-width: 768px) {
pantallas grandes 
}

/* ESTILO DEL HEADER: He puesto color al fondo, menú en blanco con un hover sencillo.
He eliminado los puntos del menú, he alineado en fila el menú y llevado con float hacia de derecha.
 */

header, nav{
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  display: flex;
}
nav li {
  display: inline-block;
  margin-right: 20px;
}
nav a {
  color: #fff;
  text-decoration: none; 
}
nav a:hover {
  background-color: #a9a4a4;
  border-radius: 5px; ;
}

/*ESTILO SECTION ABOUT ME: Color del texto oscuro, elegida la font Monserrat, display:flex para ajustar los elementos al tamaño del contenedor.
flex: 1 para que tengan el mismo tamaño la parte de la foto y del texto, max-width 100% para que ocupen todo el contenedor.
width: 100% en p para que el texto del parrafo ocupe toda la extensión*/

#aboutme{
  color: #333;
  display:flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
#aboutme img {
  flex: 1;
  max-width: 50%;
  width: 100%;
}
#aboutme p{
  flex: 1;
  max-width: 100%;
  width: 100%;
}
button {
  background-color: #add1c5;
  color: #333;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10%;
  font-family: 'Montserrat', sans-serif;
}
#aboutme ul{
  flex: 1;
  max-width: 100%;
  width: 100%;
  text-align: justify;
  list-style: none;
}

/*ESTILO SECTION PROYECTOS: Le he puesto un borde redondeado a la foto, elegido color y estilo de fuente.
He justificado el texto, aunque no se estila en las web (me puede mi TOC)*/

#proyectos img {
  flex: 1;
  max-width:100%;
  width: 100%;
  border-radius: 5%;
  margin-top: 12.5%;
}
#proyectos {
  color: #333;
  display:flex;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}
#proyectos ol {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: justify;
}

/*En HTML he creado un div container para meter el vídeo realizado desde el editor de vídeos y poder darle estilo en CSS.*/
#aficiones h2, p {
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
#video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  margin-bottom: 0%;
}
video {
  width: 100%;
  height: 90%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

  /*SECCIÓN VOLUNTARIADO: Le pongo las mismas características que el aboutme, justifico el texto y elimino los puntos de la lista*/

#voluntariado{
  color: #333;
  display:flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
#voluntariado img {
  flex: 1;
  max-width: 50%;
  width: 100%;
}
#voluntariado ul{
  flex: 1;
  max-width: 100%;
  width: 100%;
  text-align: justify;
  list-style: none;
  margin-right: 5%;
}

/*Formulario: falta cambiar el estilo del botón, problema en datalist "trek"*/

#contacto {
  background: #e8e6e1;
  background-position: 100%;
  margin-top: 0%;
  margin-bottom: 0% ;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin-left: 0%;
}
form {
  background-color: #e8e6e1;
  border: none;
  color:#333 ;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0%;
  margin-bottom: 5%;
}
textarea#mensaje{
  width: 75%;
  height: 100%;
}
  /*FOOTER: Enlace Linkedin con nueva ventana, Mail y Teléfono eliminados hipervínculos.*/

footer {
  background-color:#333;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
footer p {
  font-size: 14px;
  margin: 10;
  color: #fff;
}
footer img {
  width: 2%;
  height: 2%;
}
